body {
  background-color: #8c8c8c;
  font-family: helvetica, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(209, 212, 219);
}

header {
  text-align: center;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 65px;
}

.navegacaoLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  
}

.navegacaoLinks a:hover {
  opacity: 0.3;
}

.navegacaoLinks a:visited, a:link, a:active {
  color: #000;
  text-decoration: none;
}

.navegacaoLinks li {
  padding-right: 50px;
}

hr {
  border: 1px solid black;
  width: 800px;
}

.cartoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: 30%;
  height: 230px;
  margin: 15px 10px;
  border-radius: 10px;
  backface-visibility: hidden;
}


/* FRONT */ 
.front,
.back {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}

.container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.nomeMusica {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nomeMusica p {
  font-size: 15px;
  margin-left: 9px;
  margin-right: 9px;
}

.card:hover .container {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}


/* BACK */
.back {
  transform: rotateY(180deg);
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

}