body {
  background-color: #8c8c8c;
  font-family: helvetica, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 65px;
}

.navegacaoLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  
}

.navegacaoLinks a:hover {
  opacity: 0.3;
}

.navegacaoLinks a:visited, a:link, a:active {
  color: #000;
  text-decoration: none;
}

.navegacaoLinks li {
  padding-right: 50px;
}

hr {
  border: 1px solid black;
  width: 800px;
}

.cartoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: 30%;
  height: 230px;
  background-size: cover;
  margin: 15px 10px;
  border-radius: 10px;
  backface-visibility: hidden;
}

.container {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.primeiro {
  background-image: url(img/its-jack-ie-bleachers.jpg);
}

.segundo {
  background-image: url(img/07ab1bd0ee800997d3b627a1559027cd.jpg);
}

.terceiro {
  background-image: url(img/adele-video-xavier-dolan-bts-ss01.jpg);
}

.quarto {
  background-image: url(img/lykke_li.jpg);
}

.quinto {
  background-image: url(img/chet-baker.jpg);
}

.sexto {
  background-image: url(img/sinead_oconnor.jpg);
}

.nomeMusica {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
  padding: 0 8px;
}

.card:hover .container {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  background: red; /* não aparece */
  transform: rotateY(180deg);
}